@import "../../index.scss";

.dashboard {
    background-color: $bgContent;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    min-height: 525px;
    display: flex;
    .sidebar {
        position: relative;
        border-right: 1px solid #e0e0e0;
        padding: 25px;
        .sidebar__title {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            margin-bottom: 15px;
        }
        .sidebar__subtitle {
            color: $grey;
        }
        .sidebar__form {
            margin-bottom: 30px;
            .sidebar__input {
                border-radius: 8px;
                border: 1.5px solid $lightGrey;
                background: $white;
                padding: 16px 25px;
            }
        }
        .sidebar__users {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            .sidebar__user {
                cursor: pointer;
                display: flex;
                align-items: center;
                overflow: hidden;
                background-color: $bgContent;
                box-shadow: $boxShadow;
                border-radius: $borderRadius;
                .sidebar__user-info {
                    transition: 0.3s ease-in-out;
                    padding: 20px;
                    width: 100%;
                }
            }
            .sidebar__user:hover .sidebar__user-info {
                background-color: $lightGrey;
            }
            .sidebar__user.active .sidebar__user-info {
                background-color: $lightGrey;
            }
        }
    }
    .dashboard__user {
        padding: 25px;
        .dashboard__user-info {
            display: flex;
            .dashboard__title {
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%;
                margin-bottom: 15px;
            }
        }
    }
}
