@import "../../index.scss";

.dashboard {
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    min-height: 525px;
    display: flex;
    .sidebar {
        position: relative;
        border-right: 1px solid $lightGrey;
        padding: 25px;
        min-width: 400px;
        background-color: $bgContent;
        // max-height: 250px;
        // overflow: auto;
        .sidebar__title {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            margin-bottom: 15px;
        }
        .sidebar__subtitle {
            color: $grey;
        }
        .sidebar__form {
            margin-bottom: 30px;
            .sidebar__input {
                border-radius: 8px;
                border: 1.5px solid $lightGrey;
                background: $white;
                padding: 16px 25px;
            }
        }
        .sidebar__users {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            .sidebar__user {
                cursor: pointer;
                display: flex;
                align-items: center;
                overflow: hidden;
                background-color: $bgContent;
                box-shadow: $boxShadow;
                border-radius: $borderRadius;
                .sidebar__user-info {
                    transition: 0.3s ease-in-out;
                    padding: 20px;
                    width: 100%;
                    .sidebar__user-name {
                        font-weight: 600;
                    }
                }
            }
            .sidebar__user-link:hover .sidebar__user-info {
                background-color: $lightGrey;
            }
            .sidebar__user-link.active .sidebar__user-info {
                background-color: $lightGrey;
            }
        }
        @media (max-width: 780px) {
            border-bottom: 1px solid $lightGrey;
            min-width: 320px;
        }
    }
    .dashboard__aside {
        max-height: 225px;
        overflow: auto;
    }
    .dashboard__user {
        flex: auto;
        .dashboard__user-center {
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
        }
        .dashboard__user-text {
            color: $grey;
            margin-bottom: 10px;
            span {
                color: $black;
                margin-right: 5px;
                font-weight: 600;
            }
        }
        padding: 25px;
        .dashboard__user-info {
            display: flex;
            gap: 60px;
            .dashboard__user-img {
                flex: auto;
                img {
                    max-width: 100%;
                }
            }
            .dashboard__user-name,
            .dashboard__user-subtitle {
                color: $black;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%;
                margin: 20px 0;
            }
            .dashboard__user-about {
                flex: 1 1 50%;
            }
        }
        @media (max-width: 1200px) {
            .dashboard__user-info {
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}

@media (max-width: 780px) {
    .dashboard {
        flex-direction: column;
        gap: 10px;
    }
}
