@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

$boxShadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
$borderRadius: 10px;
$bgContent: #fdfdfd;
$lightGrey: #e0e0e0;
$red: #e31f24;
$black: #000;
$white: #fff;
$grey: #76787d;
$borderColor: #e0e0e0;

::placeholder {
  font-family: Montserrat;
}

body {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 1266px;
  margin: 0 auto;
  padding: 0 15px;
}
